# macOS
**/.DS_Store

# Dev build
build/
tmp/

# Test
*.out

# Environment variables
.env
.env.*
!.env.example

# Node and svelte
node_modules
target
.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
